Repository peterramsing/lost, pull requests merged in 2018-11, with the labels that each got.

#426 Clarifying Node support in README
  README.md
Labels: component: core, type: Docs

#427 Clears up which versions of Node are supported
  docs/_includes/docs/browser-support.md
Labels: component: documentation, status: In Progress, type: Docs

#419 Adds support for hex values, rgba strings, malformed values with fail…
  lib/_lu-utilities.js
  lib/lost-utility.js
  package-lock.json
  test/lu-utility.js
Labels: component: lost-utility, semver: patch, status: In Progress, type: Enhancement

#431 Adds docs for supported lost-utility:edit values, adds test for lower…
  docs/_docs/lost-utility.md
  test/lu-utility.js
Labels: component: documentation, component: lost-utility, component: testing, status: Backlog, type: Docs, type: Test
